<h2>Ingredients in stew recipes, filtered by:</h2>

{{#display-names array=filter1}}
  A simple promise
{{/display-names}}

{{#display-names array=filter2}}
  With <code>PromiseArray</code> and <code>RSVP.filter</code>
{{/display-names}}